<%- include('../base_template/navbar.ejs')-%>

<!-- we can send object to navbar.ejs by:
include('../base_template/navbar.ejs'),{user:user}
 and use the object name in template  -->
<!--container-->
<div class="containers" style="display: flex;flex-direction: column;">
    <% if(locals.errors){%>
        <%errors.forEach((err)=>{%>
            <div style="width: 60%;padding: 5px;background:rgb(250, 97, 128);color:rgb(65, 4, 4);border-radius: 4px;;margin:3px auto;">
                <%=err.msg%>
            </div>
        <%})%>
    <%}%>
    <br>
    <div style="width: 100%; display: flex; justify-content: center">
    <form style="width: 60%" action="/events/update" method="POST">
        <input type="hidden" name="id" value="<%=obj.id%>">
      <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          aria-describedby="emailHelp"
          value="<%=obj.name%>"
        />
        <!--  <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div> -->
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="location"
          value="<%=obj.location%>"
        />
      </div>

      <div class="mb-3">
        <label for="Number" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phone" name="phone" value="<%=obj.phone%>" />
      </div>

      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date" name="date" value="<%=date%>" />
      </div>
      <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" />
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
</div>

<!-- /container -->

<%- include('../base_template/footer.ejs')-%>
